@{
    ViewData["Title"] = "Secret Page";
}

@if(User.Identity.IsAuthenticated)
{
  <div class="text-center">
    <h1 class="display-4">Welcome To Secret</h1>
</div>  
}
else
{
 <div class="text-center">
    <h1 class="display-4">Access restricted</h1>
</div> 
}
