@{
    ViewData["Title"] = "Home Page";
}

@if(User.Identity.IsAuthenticated)
{
  <div class="text-center">
    <h1 class="display-4">Welcome To HomePage</h1>
</div>  
}
else
{
 <div class="text-center">
    <h1 class="display-4">Please Login</h1>
</div> 
}
