@{
    ViewData["Title"] = "Privacy Policy";
}

@if(User.Identity.IsAuthenticated)
{
 <h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
}
else
{
 <div class="text-center">
    <h1 class="display-4">Please Login</h1>
</div> 
}

